/* Image Stylilng */

.main-image {
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

.main-image img {
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.main-image figcaption {
    text-align: center;
    color: navy;
}
